<section id="hero" class="pt-20">
	<h1 class="text-3xl w-60 text-right mx-auto md:text-4xl md:w-1/2">Chipping away at
		<span class="text-red-700">Ruby on Rails</span></h1>
	<h2 class="w-72 text-base text-right mt-14 mx-auto md:text-2xl md:w-2/3 md:text-center">Everyday add a little Ruby
		knowledge is good
		for you.</h2>
	<h2 class="mt-14 text-base mx-auto w-56 text-center md:text-2xl md:w-1/2">Hello from Sydney, Australia</h2>
	<p class="mt-14 text-base w-72 mx-auto text-justify md:text-2xl md:w-1/2">My Ruby journey started over 1.5 years ago.
		I
		would like to share some of my experiences in Ruby or Rails.</p>
	<div class="w-32 mx-auto my-10 bg-red-700 text-center p-2 rounded-full text-gray-50">
		<%= link_to "Playground", playground_path %>
	</div>
</section>

<section id="exercises" class="md:mt-14 px-2">
	<h2 class="text-lg md:ml-20 md:text-3xl">Recent Rails Exercises</h2>
	<div class="mt-6 h-24 mx-auto w-auto md:h-56 md:w-4/5">
		<div class="overflow-x-hidden flex flex-row whitespace-nowrap w-full h-full">
			<% @projects.each_with_index do |project, index| %>
				<%= render partial: "static_pages/project_card", locals: { project: project, index: index } %>
			<% end %>
		</div>
		<div class="flex flex-row justify-between px-3 relative -top-32">
			<%= link_to "#1" do %>
				<svg width="21" height="18" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.69998 11.2905C7.08998 10.9005 7.08998 10.2705 6.69998 9.88047L2.82998 6.00047L6.70998 2.12047C7.09998 1.73047 7.09998 1.10047 6.70998 0.710469C6.31998 0.320469 5.68998 0.320469 5.29998 0.710469L0.70998 5.30047C0.31998 5.69047 0.31998 6.32047 0.70998 6.71047L5.29998 11.3005C5.67998 11.6805 6.30998 11.6805 6.69998 11.2905Z" fill="black" fill-opacity="0.54"/>
					<path d="M13.2898 11.2905C13.6798 10.9005 13.6798 10.2705 13.2898 9.88047L9.41982 6.00047L13.2998 2.12047C13.6898 1.73047 13.6898 1.10047 13.2998 0.710469C12.9098 0.320469 12.2798 0.320469 11.8898 0.710469L7.29982 5.30047C6.90982 5.69047 6.90982 6.32047 7.29982 6.71047L11.8898 11.3005C12.2698 11.6805 12.8998 11.6805 13.2898 11.2905Z" fill="black" fill-opacity="0.54"/>
				</svg>
			<% end %>
			<%= link_to "#5" do %>
				<svg width="21" height="18" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.29006 0.709778C6.90006 1.09978 6.90006 1.72978 7.29006 2.11978L11.1701 5.99978L7.29006 9.87978C6.90006 10.2698 6.90006 10.8998 7.29006 11.2898C7.68006 11.6798 8.31006 11.6798 8.70006 11.2898L13.2901 6.69978C13.6801 6.30978 13.6801 5.67978 13.2901 5.28978L8.70006 0.699778C8.32006 0.319778 7.68006 0.319778 7.29006 0.709778Z" fill="black" fill-opacity="0.54"/>
					<path d="M0.700215 0.710469C0.310215 1.10047 0.310215 1.73047 0.700215 2.12047L4.58021 6.00047L0.700215 9.88047C0.310215 10.2705 0.310215 10.9005 0.700215 11.2905C1.09021 11.6805 1.72022 11.6805 2.11022 11.2905L6.70021 6.70047C7.09021 6.31047 7.09021 5.68047 6.70021 5.29047L2.12021 0.710469C1.73021 0.320469 1.09021 0.320469 0.700215 0.710469Z" fill="black" fill-opacity="0.54"/>
				</svg>
			<% end %>
		</div>


	</div>
	<div class="text-right mr-2 mt-2 w-auto md:w-4/5 md:mx-auto">
		<%= link_to "more exercises...", playground_path %>
	</div>
	<div class="flex flex-col w-32 ml-5 text-center md:scale-150 md:ml-44 mt-7">
		<svg class="fill-red-50 relative left-8" width="55" height="43" viewBox="0 0 55 43" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M9.73054 11.6254L17.1857 19.0816C18.0408 19.9368 17.4529 21.38 16.2505 21.38H11.4674C11.4674 30.2259 18.6554 37.415 27.5 37.415C29.611 37.415 31.6685 37.0141 33.5122 36.2391C34.4742 35.8382 35.5697 36.1322 36.2912 36.8537C37.654 38.2167 37.173 40.5151 35.3827 41.2366C32.9511 42.2255 30.279 42.76 27.5 42.76C15.6893 42.76 6.12321 33.1924 6.12321 21.38H1.34015C0.137699 21.38 -0.450153 19.9368 0.404915 19.1084L7.86007 11.6521C8.36777 11.1176 9.22284 11.1176 9.73054 11.6254ZM43.5326 21.38C43.5326 12.534 36.3446 5.345 27.5 5.345C25.389 5.345 23.3315 5.74587 21.4878 6.52089C20.5258 6.92177 19.4303 6.62779 18.7088 5.90622C17.346 4.54325 17.827 2.2449 19.6173 1.52332C22.0489 0.5345 24.721 0 27.5 0C39.3107 0 48.8768 9.56754 48.8768 21.38H53.6599C54.8623 21.38 55.4502 22.8231 54.5951 23.6516L47.1399 31.1079C46.6055 31.6424 45.7772 31.6424 45.2427 31.1079L37.7876 23.6516C36.9592 22.8231 37.5471 21.38 38.7495 21.38H43.5326Z"/>
		</svg>
		<p class=" relative text-sm bottom-7 text-gray-400">Don't stop learning</p>
	</div>
</section>

<section id="resources">

</section>
